@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-mtgreen-50: #fdfcfa;
  --color-mtgreen-100: #e8ebe1;
  --color-mtgreen-150: #e0dbc1;
  --color-mtgreen-200: #d6cea6;
  --color-mtgreen-300: #98966e;
  --color-mtgreen-400: #8ea17f;
  --color-mtgreen-700: #475d48;
  --color-mtgreen-800: #3b4b3c;

  --color-mtwine-800: #593333;
}

html {
  scroll-behavior: smooth;
}
